@font-face {
  font-family: 'Russo One';
   src: url('/fonts/Russo_One/RussoOne-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
   src: url('/fonts/Poppins/Poppins-Medium.ttf');
}

* {
  font-family: 'Poppins';
}
header {
  margin-top: 50px;
  color: #ffff;
}

header div.d-flex {
  background-color: #2f3293ff;
}
#logo {
  border: 1px solid #ffff;
  border-radius: 50%;
  width: 102px;
  height: 102px;
  background-color: #ffff;
}
#logo img {
  width: 100px;
  height: 100px;
}

header h1 {
  font-size: 1.2rem;
}

/* ********* Main Section Style ************ */

h1.border-bottom {
  font-size: 2rem;
  color: #dc3545;
  font-family: 'Russo One';
}

#name , #age {
  border-color: #dc3545;
  box-shadow: none;
}
button {
  height: 90px;
}

